@charset "utf-8";

/* RESET */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: var(--color-blue);
}

fieldset {
  border: none;
}

legend {
  display: none;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  cursor: pointer;
  color: var(--color-blue);
}

input {
  outline: none;
}

/* COMMON */
:root {
  /* COLOR */
  --color-black: #222;
  --color-white: #fff;
  --color-light-orange: #ffdfbf;
  --color-orange: #ffb973;
  --color-gray: #eee;
  --color-blue: #809fff;
  --color-dark-blue: #6680cc;

  /* TRANSITION */
  --transition: 0.3s;
}

/* CONTAINER */
.container {
  height: 100%;
  background: linear-gradient(
    to bottom right,
    var(--color-light-orange),
    var(--color-orange)
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .inner {
  background-color: var(--color-white);
  width: 500px;
}

.container .date {
  padding: 30px 20px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 14px;
}

.container .date .date__day {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-right: 20px;
}

.container .date .date__year {
  margin-right: 10px;
}

.container .date .date__month {
  margin-right: 10px;
}

.container .date .date__date {
}

.container .list {
  padding: 20px;
  border-top: 1px solid var(--color-gray);
  border-bottom: 1px solid var(--color-gray);
}

.container .info {
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.container .info .task {
}

.container .info .add {
  display: flex;
  align-items: center;
  position: relative;
  transition: var(--transition);
  border-radius: 10px;
  padding: 10px;
}

.container .info .add:hover {
  background-color: var(--color-blue);
  color: var(--color-white);
}

.container .info .add span.material-icons-outlined {
  margin-left: 10px;
  font-size: 20px;
}

.container .modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: none;
}

.container .modal.visible {
  display: block;
}

.container .modal .bg {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}

.container .modal .form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container .modal .form fieldset {
  position: relative;
  width: 500px;
  height: 300px;
  background-color: var(--color-white);
}

.container .modal .form .title {
  font-size: 20px;
  top: 60px;
  transform: translateX(-50%);
}

.container .modal .form .title,
.container .modal .form input,
.container .modal .form button.submit {
  position: absolute;
  left: 50%;
}

.container .modal .form input {
  top: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  border: 1px solid var(--color-blue);
  width: 80%;
  padding: 20px;
  font-size: 16px;
}

.container .modal .form button.submit {
  bottom: 40px;
  transform: translateX(-50%);
  background-color: var(--color-blue);
  padding: 10px 20px;
  border-radius: 10px;
  color: var(--color-white);
  transition: var(--transition);
}

.container .modal .form button.submit:hover {
  background-color: var(--color-dark-blue);
}

/* CURRENT-TIME */

.container .current-time {
  position: fixed;
  top: 40px;
  right: 40px;

  display: flex;
  align-items: center;
}

.container .current-time span.colon {
  font-size: 32px;
  margin: 0 6px;
  transform: translateY(2px);
  animation: changeColor 1s infinite;
}

.container .current-time span.time {
  font-size: 60px;
  font-weight: 100;
}

.container .current-time span.am {
  transform: translateY(15px);
  margin-left: 10px;
  font-size: 24px;
}

@keyframes changeColor {
  0% {
    color: var(--color-blue);
  }
  50% {
    color: var(--color-dark-blue);
  }
}
